:root {
    --background-color: #ebe6e6;
  }

html {
    background-color: var(--background-color);
    background-image: url('/assets/paper.png');
}

* {
  font-family: "Indie Flower", cursive;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}